body {
    background-color:black;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height: 220px;
    border: 5px solid white;
    border-radius: 30px;
}

h1 {
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: gold;
    text-align: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-musica {
    background-color: rgb(248, 248, 248);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

.letra {
            background-color: white;
            color: rgb(0, 0, 0);
            white-space: pre-line;
            padding: 30px;
            border-radius:50px;
            width: 50%;              
            margin: 0 auto;          
            text-align: center;
           
            
            
            
}            
            
.wrapper {
    text-align: center;
}

footer {
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}